In [19]:
import pandas as pd 
road_segments = pd.read_csv("../data/road-segments.txt",sep=" ",header=None)

In [20]:
road_segments.head()

                      0                      1   2     3           4
0      Y_City,_Arkansas        Acorn,_Arkansas  15  45.0   US_71/270
1      Y_City,_Arkansas    Greenwood,_Arkansas  46  45.0       US_71
2      Y_City,_Arkansas  Hot_Springs,_Arkansas  70  45.0      US_270
3  Abbot_Village,_Maine         Bingham,_Maine  24  45.0       ME_16
4  Abbot_Village,_Maine        Guilford,_Maine   4  45.0  ME_6/15/16

In [21]:
col=["City1","City2","Distance","speed_limit","Highway"]
road_segments.columns=col
road_segments.head()

,City1,City2,Distance,speed_limit,Highway
0,"Y_City,_Arkansas","Acorn,_Arkansas",15,45.0,US_71/270
1,"Y_City,_Arkansas","Greenwood,_Arkansas",46,45.0,US_71
2,"Y_City,_Arkansas","Hot_Springs,_Arkansas",70,45.0,US_270
3,"Abbot_Village,_Maine","Bingham,_Maine",24,45.0,ME_16
4,"Abbot_Village,_Maine","Guilford,_Maine",4,45.0,ME_6/15/16

In [22]:
##There are some case with Distance=0 
len(road_segments[(road_segments['Distance']==0)])

12

In [13]:
# some cases where speed is null
road_segments.isnull().sum()

City1           0
City2           0
Distance        0
speed_limit    19
Highway         0
dtype: int64

In [5]:
len(road_segments[road_segments['speed_limit']==0])

47

In [7]:
city_gps= pd.read_csv("../data/city-gps.txt",sep=" ",header=None)

In [14]:
city_gps.head()

                       0          1           2
0    I"Y"_City,_Arkansas  34.735104  -94.073257
1   Abbot_Village,_Maine  45.197684  -69.458819
2  Abbotsford,_Wisconsin  44.946356  -90.315969
3     Abbott,_New_Mexico  36.305585 -104.258870
4      Abbyville,_Kansas  37.970847  -98.204230

In [15]:
road_segments.head()

,City1,City2,Distance,speed_limit,Highway
0,"Y_City,_Arkansas","Acorn,_Arkansas",15,45.0,US_71/270
1,"Y_City,_Arkansas","Greenwood,_Arkansas",46,45.0,US_71
2,"Y_City,_Arkansas","Hot_Springs,_Arkansas",70,45.0,US_270
3,"Abbot_Village,_Maine","Bingham,_Maine",24,45.0,ME_16
4,"Abbot_Village,_Maine","Guilford,_Maine",4,45.0,ME_6/15/16

In [35]:
cityList=road_segments['City1']
cityList=cityList.append(road_segments['City2'])

In [36]:
no_cordinates=set(cityList)-set(city_gps[0])

In [37]:
len(no_cordinates)

1053

In [38]:
no_cordinates=pd.DataFrame(list(no_cordinates))

In [40]:
len(no_cordinates)

1053

In [41]:
no_cordinates.to_csv('no_cordinates.txt',' ')